<div class="cv-create" id="cvCreate">
	<div class="cv-content-wrapper pt-0 pt-lg-5 px-3">
		<div class="row">
			
			<div class="col-lg-3 col-12 mt-2 px-md-4">
				<div class="position-sticky" style="top:20px;">
					<ul class="row py-4 list-unstyled bg-white rounded shadow">
						<li class="col-12 mb-3">
							<h5>
								Özgeçmiş Alanları
							</h5>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm mb-1 w-100 d-flex align-items-center" (click)="scrollToView('#contact_info')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> İletişim Bilgileri
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm mb-1 w-100 d-flex align-items-center" (click)="scrollToView('#summary')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Özet Bilgi
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm mb-1 w-100 d-flex align-items-center" (click)="scrollToView('#work_experience')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> İş Deneyimleri
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm mb-1 w-100 d-flex align-items-center" (click)="scrollToView('#education_info')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Eğitim Bilgileri
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm mb-1 w-100 d-flex align-items-center" (click)="scrollToView('#foreign_language')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Yabancı Diller
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm w-100 d-flex align-items-center" (click)="scrollToView('#certificate')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Sertifikalar
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm w-100 d-flex align-items-center" (click)="scrollToView('#seminer_kurs')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Seminer ve Kurs
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm w-100 d-flex align-items-center" (click)="scrollToView('#project')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Projeler
							</a>
						</li>
						<li class="col-12">
							<a class="btn btn-light btn-sm w-100 d-flex align-items-center" (click)="scrollToView('#referanslar')">
								<fa-icon [icon]="['fas', 'arrow-right']" class="me-2"></fa-icon> Referanslar
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-12 mt-2 px-md-4">
				<div class="row mb-4" id="contact_info">
					<div class="col-12 bg-white rounded shadow hover-border-dashed">
						<div class="row">
							<div class="col-12 p-2 p-lg-4 shadow-sm mb-4">
								<h3>
									İletişim Bilgileri
								</h3>
							</div>
							<div class="col-12 p-2 p-lg-4">
								<div class="row mb-2">
									<div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-3">
										<input type="file" name="profileImage" id="profileImage" hidden/>
										<div class="add-image-profile" (click)="clickImageInput()">
											+ Resim ekle
										</div>
									</div>
									<div class="col-lg-10 col-md-9 col-sm-8 col-12">
										<div class="row">
											<div class="col-12 mb-3">
												<h4>
													Furkan ŞAHİN
												</h4>
											</div>
											<div class="col-12">
												<div class="row">
													<div class="col-sm-6 col-12 mb-2">
														<small class="text-secondary">
															E-Posta
														</small>
														<br/>
														<span class="font-weight-bold">
															yildizfurkansahin@gmail.com
														</span>
													</div>
													<div class="col-sm-6 col-12 mb-2">
														<small class="text-secondary">
															Doğum Tarihi
														</small>
														<br/>
														<span class="font-weight-bold">
															27.01.1995
														</span>
													</div>
													<div class="col-12 mb-2">
														<small class="text-secondary">
															Telefon
														</small>
														<br/>
														<span class="font-weight-bold">
															0539 873 7712
														</span>
													</div>
													<div class="col-12 mb-2">
														<small class="text-secondary">
															Adres
														</small>
														<br/>
														<span class="font-weight-bold">
															Velibaba Mahallesi Zeynep Sokak No:9 Pendik/İstanbul
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row mb-4" id="summary">
					<div class="col-12 bg-white rounded shadow hover-border-dashed">
						<div class="row">
							<div class="col-12 p-2 p-lg-4 shadow-sm mb-4">
								<h3>
									Özet Bilgi
								</h3>
							</div>
							<div class="col-12 p-2 p-lg-4">
								<div class="row">
									<div class="col-12">
										<div class="row">
											<div class="col-12 mb-3">
												<span>
													Eğitim bilgileriniz, iş deneyimleriniz, yetenekleriniz ve özgeçmişinizde bulunmasını istediğiniz diğer bilgileri <strong>firmaların anahtar kelime aramalarında daha kolay bulunmanızı sağlamak için</strong> özet halinde ekleyebilirsiniz.
												</span>
											</div>
											<div class="col-12">												
												<editor
													apiKey="2tc56hde9q30zeb835bczxj559w0h7vtwb9znqpa08y8e605"
													[init]="{
														language : 'tr',
														min_height: 500,
														preview_styles: 'font-size color',
														resize: 'both',
														plugins: 'autolink lists lists directionality autoresize',
														menubar: false,
														toolbar: 'bold italic underline italic | alignleft aligncenter alignright alignjustify |  numlist bullist',
														grid_preset: 'Bootstrap3',
														toolbar_mode: 'wrap',
														automatic_uploads: true,
														tinycomments_mode: 'embedded',
														tinycomments_author: 'Furkan ŞAHİN',
														relative_urls: false,
														remove_script_host: false,
														convert_urls: false
													}"

													[(ngModel)]="ozet"
												></editor> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-4" id="work_experience">
					<div class="col-12 bg-white rounded shadow hover-border-dashed">
						<div class="row">
							<div class="col-12 p-2 p-lg-4 shadow-sm mb-4">
								<h3>
									İş Deneyimleri
									<button class="btn btn-sm btn-outline-secondary rounded-pill ms-2 pt-0" (click)="newWorkExperience()">
										<small>
											+ Yeni Ekle
										</small>
									</button>
								</h3>
							</div>
							<div class="col-12 p-2 p-lg-4">
								<div class="row">
									<div class="col-12">
										<div class="row" *ngIf="!isAddEditCv.is_deneyimi.isShow">
											<div class="col-12 pb-4 mb-4 border-bottom" *ngFor="let deneyim of is_deneyimi;let index = index">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-4 col-12">
														<div class="row">
															<div class="col-12">
																<img src="assets/images/firma-logosuz.webp" alt="Firma Logo"/>
															</div>
															<div class="col-12 mt-4" ngBindHtml="getOperationTime(deneyim.baslangicTarihi, deneyim.bitisTarihi)">
															</div>
														</div>
													</div>
													<div class="col-lg-10 col-md-9 col-sm-8 col-12">
														<div class="row">
															<div class="col-12 d-flex justify-content-end">
																<small (click)="editWorkExperience(deneyim,index)" role="button">
																	<fa-icon [icon]="['fas', 'pencil']" class=""></fa-icon>
																</small>
															</div>
															<div class="col-12 mb-2" *ngIf="deneyim.pozisyon != ''">
																<small class="text-secondary">
																	Pozisyon
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.pozisyon}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
																<small class="text-secondary">
																	Firma Adı
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.firmaAdi}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
																<small class="text-secondary">
																	Ülke
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.ulke}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
																<small class="text-secondary">
																	Şehir
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.il}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2" *ngIf="deneyim.firmaSektoru != ''">
																<small class="text-secondary">
																	Firma Sektörü
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.firmaSektoru}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
																<small class="text-secondary">
																	Başlangıç Tarihi
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.baslangicTarihi}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
																<small class="text-secondary">
																	Bitiş Tarihi
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.halaCalisiyorum == true ? "Hala çalışıyorum" : deneyim.bitisTarihi}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2" *ngIf="deneyim.calismaSekli != ''">
																<small class="text-secondary">
																	Çalışma Şekli
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.calismaSekli}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2" *ngIf="deneyim.isAlani != ''">
																<small class="text-secondary">
																	İş Alanı
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.isAlani}}
																</span>
															</div>
															<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2" *ngIf="deneyim.isTanimi != ''">
																<small class="text-secondary">
																	İş Tanımı
																</small>
																<br/>
																<span class="font-weight-bold">
																	{{deneyim.isTanimi}}
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" *ngIf="isAddEditCv.is_deneyimi.isShow">
											<div class="col-12">
												<div class="row">
													<div class="col-md-6">
														<div class="row">
															<div id="firma_adi_group" role="group" class="form-group mb-2">
																<label id="firma_adi_label" for="firma_adi_input" class="d-block">Firma Adı</label>
																<div>
																	<input class="border-dark form-control" id="firma_adi_input" type="text" placeholder="Firma Adı" [(ngModel)]="isAddEditCv.is_deneyimi.content.firmaAdi">
																</div>
															</div>

															<div id="pozisyon_group" role="group" class="form-group mb-2">
																<label id="pozisyon_label" for="pozisyon_input" class="d-block">Pozisyon</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.pozisyon" placeholder="Pozisyon Seçiniz">
																		<ng-option *ngFor="let position of positionList" [value]="position">{{position}}</ng-option>
																	 </ng-select>
																</div>
															</div>
															
															<div id="baslangic_tarihi_group" role="group" class="col-md-4 col-12 form-group mb-2">
																<label id="baslangic_tarihi_label" for="baslangic_tarihi_input" class="d-block">Başlangıç Tarihi</label>
																<div>
																	<input class="border-dark form-control" id="baslangic_tarihi_input" type="month" placeholder="Başlangıç.." [(ngModel)]="isAddEditCv.is_deneyimi.content.baslangicTarihi">
																</div>
															</div>

															<div id="bitis_tarihi_group" role="group" class="col-md-4 col-12 form-group mb-2">
																<label id="bitis_tarihi_label" for="bitis_tarihi_input" class="d-block">Bitiş Tarihi</label>
																<div>
																	<input class="border-dark form-control" id="bitis_tarihi_input" type="month" placeholder="Bitiş.." [(ngModel)]="isAddEditCv.is_deneyimi.content.bitisTarihi">
																</div>
															</div>

															<div id="hala_calisiyorum_group" role="group" class="col-md-4 col-12 form-group mb-2">
																<div class="form-check mt-4 pt-2">
																	<input class="form-check-input" type="checkbox" id="hala_calisiyorum_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.is_deneyimi.content.halaCalisiyorum">
																	<label class="form-check-label" for="hala_calisiyorum_input">
																		Hala çalışıyorum
																	</label>
																</div>
															</div>

															<div id="firma_sektoru_group" role="group" class="col-md-6 col-12 form-group mb-2">
																<label id="firma_sektoru_label" for="firma_sektoru_input" class="d-block">Firma Sektörü</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.firmaSektoru" placeholder="Sektör Seçiniz">
																		<ng-option *ngFor="let sector of sectorList" [value]="sector">{{sector}}</ng-option>
																	 </ng-select>
																</div>
															</div>

															<div id="is_alani_group" role="group" class="col-md-6 col-12 form-group mb-2">
																<label id="is_alani_label" for="is_alani_input" class="d-block">İş Alanı</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.isAlani" placeholder="İş Alanı Seçiniz">
																		<ng-option *ngFor="let businessArea of businessAreaList" [value]="businessArea">{{businessArea}}</ng-option>
																	 </ng-select>
																</div>
															</div>

															<div id="calisma_sekli_group" role="group" class="col-12 form-group mb-2">
																<label id="calisma_sekli_label" for="calisma_sekli_input" class="d-block">Çalışma Şekli</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.calismaSekli" placeholder="Çalışma Şekli Seçiniz">
																		<ng-option *ngFor="let wayOfWorking of wayOfWorkingList" [value]="wayOfWorking">{{wayOfWorking}}</ng-option>
																	 </ng-select>
																</div>
															</div>

															<div id="ulke_group" role="group" class="col-md-6 col-12 form-group mb-2">
																<label id="ulke_label" for="ulke_input" class="d-block">Ülke</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.ulke" placeholder="Ülke Seçiniz" (change)="changeCountry()">
																		<ng-option *ngFor="let country of countryList" [value]="country.CountryName">{{country.CountryName}}</ng-option>
																	 </ng-select>
																</div>
															</div>

															<div id="il_group" role="group" class="col-md-6 col-12 form-group mb-2">
																<label id="il_label" for="il_input" class="d-block">İl</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.is_deneyimi.content.il" placeholder="İl Seçiniz">
																		<ng-option *ngFor="let province of provinceList" [value]="province.StateName">{{province.StateName}}</ng-option>
																	 </ng-select>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<label>
															İş Tanımı
														</label>
														<editor
															apiKey="2tc56hde9q30zeb835bczxj559w0h7vtwb9znqpa08y8e605"
															[init]="{
																language : 'tr',
																min_height: 500,
																preview_styles: 'font-size color',
																resize: 'both',
																plugins: 'autolink lists lists directionality autoresize',
																menubar: false,
																toolbar: 'bold italic underline italic | alignleft aligncenter alignright alignjustify |  numlist bullist',
																grid_preset: 'Bootstrap3',
																toolbar_mode: 'wrap',
																automatic_uploads: true,
																tinycomments_mode: 'embedded',
																tinycomments_author: 'Furkan ŞAHİN',
																relative_urls: false,
																remove_script_host: false,
																convert_urls: false
															}"

															[(ngModel)]="isAddEditCv.is_deneyimi.content.isTanimi"
														></editor>
													</div>
												</div>

												<div class="row mt-4">
													<div [className]="isAddEditCv.is_deneyimi.isEdit == true ? 'col-12 d-flex align-items-center justify-content-between' : 'col-12 d-flex align-items-center justify-content-end'">
														<button type="button" (click)="deleteWorkExperience()" class="btn btn-danger btn-sm" *ngIf="isAddEditCv.is_deneyimi.isEdit">
															x Sil 
														</button>

														<div>
															<button type="button" (click)="isAddEditCv.is_deneyimi.isShow=false" class="btn btn-outline-danger btn-sm mx-3">
																Vazgeç 
															</button>
															<button type="button" (click)="saveWorkExperience()" class="btn btn-primary btn-sm">
																Kaydet
															</button>
														</div>                                                                    
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>  

				<div class="row mb-4" id="education_info">
					<div class="col-12 bg-white rounded shadow hover-border-dashed">
						<div class="row">
							<div class="col-12 p-2 p-lg-4 shadow-sm mb-4">
								<h3>
									Eğitim Bilgileri
									<button class="btn btn-sm btn-outline-secondary rounded-pill ms-2 pt-0" (click)="newEducationInfo()">
										<small>
											+ Yeni Ekle
										</small>
									</button>
								</h3>
							</div>
							<div class="col-12 p-2 p-lg-4">
								<div class="row">
									<div class="col-12">
										<div class="row" *ngIf="!isAddEditCv.egitim_bilgileri.isShow">
											<div class="col-12 pb-4 mb-4 border-bottom" *ngFor="let egitim of egitim_bilgileri;let index = index">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-4 col-12">
														<div class="row">
															<div class="col-12 text-center">
																<img src="assets/images/university-default.webp" alt="Egitim Logo"/>
															</div>
															<div class="col-12 text-center mt-3" *ngIf="egitim.egitim_durumu != 'Lise'">
																<span>
																	Diploma Notu
																</span>
															</div>
															<div class="col-12 text-center" *ngIf="egitim.egitim_durumu != 'Lise'">
																<h5>
																	<strong>
																		{{egitim.diploma_notu}} / {{egitim.diploma_not_sistemi}} 
																	</strong>
																</h5> 
															</div>
														</div>
													</div>
													<div class="col-lg-10 col-md-9 col-sm-8 col-12">
														<div class="row">
															<div class="col-12 d-flex justify-content-end">                                                                        
																<small (click)="editEducationInfo(egitim,index)" role="button">
																	<fa-icon [icon]="['fas', 'pencil']" class=""></fa-icon>
																</small>
															</div>

															<div class="col-12" *ngIf="egitim.egitim_durumu == 'Lise'">
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.lise != ''">
																		<small class="text-secondary">
																			Lise
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.lise}}
																		</span>
																	</div>
		
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.lise_tipi != ''">
																		<small class="text-secondary">
																			Lise Tipi
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.lise_tipi}}
																		</span>
																	</div>
		
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.lise_bolum != ''">
																		<small class="text-secondary">
																			Lise Bölüm
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.lise_bolum}}
																		</span>
																	</div>
																</div>
															</div>

															

															<div class="col-12" *ngIf="egitim.egitim_durumu != 'Lise'">
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.universite != ''">
																		<small class="text-secondary">
																			Üniversite
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.universite}}
																		</span>
																	</div>
		
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.fakulte != ''">
																		<small class="text-secondary">
																			Fakülte
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.fakulte}}
																		</span>
																	</div>
		
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.bolum != ''">
																		<small class="text-secondary">
																			Bölüm
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.bolum}}
																		</span>
																	</div>
																</div>
															</div>
															

															<div class="col-12">
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-12 mb-2">
																		<small class="text-secondary">
																			Başlangıç Tarihi
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.baslangicTarihi}}
																		</span>
																	</div>
																	<div class="col-md-4 col-sm-6 col-12 mb-2">
																		<small class="text-secondary">
																			Bitiş Tarihi
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.devamEdiyorum == true ? "Devam Ediyorum" : egitim.terk == true ? "Terk" :  egitim.bitisTarihi}}
																		</span>
																	</div>
																</div>
															</div>

															<div class="col-12" *ngIf="egitim.egitim_durumu != 'Lise'">
																<div class="row">
																	<div class="col-md-4 col-sm-6 col-12 mb-2">
																		<small class="text-secondary">
																			Öğrenim Tipi
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.ogretim_tipi}}
																		</span>
																	</div>
																	<div class="col-md-4 col-sm-6 col-12 mb-2">
																		<small class="text-secondary">
																			Öğrenim Dili
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.ogretim_dili}}
																		</span>
																	</div>
																	<div class="col-md-4 col-sm-6 col-12 mb-2" *ngIf="egitim.burs_tipi != 'Burs Yok'">
																		<small class="text-secondary">
																			Burs Tipi
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.burs_tipi}}
																		</span>
																	</div>
																</div>
															</div>

															<div class="col-12" *ngIf="egitim.egitim_durumu != 'Lise'">
																<div class="row">
																	<div class="col-12 mb-2">
																		<small class="text-secondary">
																			Açıklama
																		</small>
																		<br/>
																		<span class="font-weight-bold">
																			{{egitim.aciklama}}
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" *ngIf="isAddEditCv.egitim_bilgileri.isShow">
											<div class="col-12">
												<div class="row">
													<div class="col-md-12">
														<div class="row" *ngIf="isAddEditCv.egitim_bilgileri.content.egitim_durumu === 'Lise'">

															<div id="egitim_durumu_group" role="group" class="col-12 form-group mb-2">
																<label id="egitim_durumu_label" for="egitim_durumu_input" class="d-block">Eğitim Durumu</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.egitim_durumu" placeholder="Eğitim Durumu Seçiniz">
																		<ng-option *ngFor="let educationStatus of educationStatusList" [value]="educationStatus">{{educationStatus}}</ng-option>
																		</ng-select>
																</div>
															</div>

															<div class="col-12">
																<div class="row">

																	<div id="lise_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="lise_label" for="lise_input" class="d-block">Lise</label>
																		<div>
																			<input class="border-dark form-control" id="lise_input" type="text" placeholder="Lise Adı" [(ngModel)]="isAddEditCv.egitim_bilgileri.content.lise">
																		</div>
																	</div>

																	<div id="lise_tipi_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="lise_tipi_label" for="lise_tipi_input" class="d-block">Lise Tipi</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.lise_tipi" placeholder="Lise Tipi Seçiniz">
																				<ng-option *ngFor="let highSchoolType of highSchoolTypeList" [value]="highSchoolType">{{highSchoolType}}</ng-option>
																				</ng-select>
																		</div>
																	</div>

																	<div id="lise_bolum_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="lise_bolum_label" for="lise_bolum_input" class="d-block">Lise Bölüm</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.lise_bolum" placeholder="Lise Bölümü Seçiniz">
																				<ng-option *ngFor="let highSchoolDepartment of highSchoolDepartmentList" [value]="highSchoolDepartment">{{highSchoolDepartment}}</ng-option>
																				</ng-select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-12">
																<div class="row">
																	<div id="baslangic_tarihi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="baslangic_tarihi_label" for="baslangic_tarihi_input" class="d-block">Başlangıç Tarihi</label>
																		<div>
																			<input class="border-dark form-control" id="baslangic_tarihi_input" type="month" placeholder="Başlangıç.." [(ngModel)]="isAddEditCv.egitim_bilgileri.content.baslangicTarihi">
																		</div>
																	</div>
		
																	<div id="bitis_tarihi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="bitis_tarihi_label" for="bitis_tarihi_input" class="d-block">Bitiş Tarihi</label>
																		<div>
																			<input class="border-dark form-control" id="bitis_tarihi_input" type="month" placeholder="Bitiş.." [(ngModel)]="isAddEditCv.egitim_bilgileri.content.bitisTarihi" [disabled]="isAddEditCv.egitim_bilgileri.content.terk"> 
																		</div>
																	</div>

																	<div id="devam_ediyorum_group" role="group" class="col-md-3 col-12 form-group mb-2" *ngIf="!isAddEditCv.egitim_bilgileri.content.terk">
																		<div class="form-check mt-4 pt-2">
																			<input class="form-check-input" type="checkbox" id="devam_ediyorum_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.egitim_bilgileri.content.devamEdiyorum">
																			<label class="form-check-label" for="devam_ediyorum_input">
																				Devam Ediyorum
																			</label>
																		</div>
																	</div>

																	<div id="terk_group" role="group" class="col-md-3 col-12 form-group mb-2" *ngIf="!isAddEditCv.egitim_bilgileri.content.devamEdiyorum">
																		<div class="form-check mt-4 pt-2">
																			<input class="form-check-input" type="checkbox" id="terk_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.egitim_bilgileri.content.terk">
																			<label class="form-check-label" for="terk_input">
																				Terk
																			</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row" *ngIf="isAddEditCv.egitim_bilgileri.content.egitim_durumu !== 'Lise'">

															<div id="egitim_durumu_group" role="group" class="col-12 form-group mb-2">
																<label id="egitim_durumu_label" for="egitim_durumu_input" class="d-block">Eğitim Durumu</label>
																<div>
																	<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.egitim_durumu" placeholder="Eğitim Durumu Seçiniz">
																		<ng-option *ngFor="let educationStatus of educationStatusList" [value]="educationStatus">{{educationStatus}}</ng-option>
																		</ng-select>
																</div>
															</div>

															<div class="col-12">
																<div class="row">
																	<div id="baslangic_tarihi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="baslangic_tarihi_label" for="baslangic_tarihi_input" class="d-block">Başlangıç Tarihi</label>
																		<div>
																			<input class="border-dark form-control" id="baslangic_tarihi_input" type="month" placeholder="Başlangıç.." [(ngModel)]="isAddEditCv.egitim_bilgileri.content.baslangicTarihi">
																		</div>
																	</div>
		
																	<div id="bitis_tarihi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="bitis_tarihi_label" for="bitis_tarihi_input" class="d-block">Bitiş Tarihi</label>
																		<div>
																			<input class="border-dark form-control" id="bitis_tarihi_input" type="month" placeholder="Bitiş.." [(ngModel)]="isAddEditCv.egitim_bilgileri.content.bitisTarihi" [disabled]="isAddEditCv.egitim_bilgileri.content.terk"> 
																		</div>
																	</div>

																	<div id="devam_ediyorum_group" role="group" class="col-md-3 col-12 form-group mb-2" *ngIf="!isAddEditCv.egitim_bilgileri.content.terk">
																		<div class="form-check mt-4 pt-2">
																			<input class="form-check-input" type="checkbox" id="devam_ediyorum_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.egitim_bilgileri.content.devamEdiyorum">
																			<label class="form-check-label" for="devam_ediyorum_input">
																				Devam Ediyorum
																			</label>
																		</div>
																	</div>

																	<div id="terk_group" role="group" class="col-md-3 col-12 form-group mb-2" *ngIf="!isAddEditCv.egitim_bilgileri.content.devamEdiyorum">
																		<div class="form-check mt-4 pt-2">
																			<input class="form-check-input" type="checkbox" id="terk_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.egitim_bilgileri.content.terk">
																			<label class="form-check-label" for="terk_input">
																				Terk
																			</label>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-12" *ngIf="!isAddEditCv.egitim_bilgileri.content.terk && !isAddEditCv.egitim_bilgileri.content.devamEdiyorum">
																<div class="row">

																	<div id="diploma_not_sistemi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="diploma_not_sistemi_label" for="diploma_not_sistemi_input" class="d-block">Not Sistemi</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.diploma_not_sistemi" placeholder="Not Sistemi Seçiniz">
																				<ng-option *ngFor="let gradingSystem of gradingSystemList" [value]="gradingSystem">{{gradingSystem}}</ng-option>
																				</ng-select>
																		</div>
																	</div>

																	<div id="diploma_notu_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="diploma_notu_label" for="diploma_notu_input" class="d-block">Diploma Notu</label>
																		<div>
																			<input class="border-dark form-control" id="diploma_notu_input" type="number" placeholder="Diploma notu" [(ngModel)]="isAddEditCv.egitim_bilgileri.content.diploma_notu">
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-12">
																<div class="row">

																	<div id="universite_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="universite_label" for="universite_input" class="d-block">Üniversite</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.universite" placeholder="Üniversite Seçiniz" (change)="changeUniversity()">
																				<ng-option *ngFor="let university of universityList" [value]="university.name">{{university.name}}</ng-option>
																				</ng-select>
																		</div>
																	</div>

																	<div id="fakulte_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="fakulte_label" for="fakulte_input" class="d-block">Fakülte</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.fakulte" placeholder="Fakülte Seçiniz" (change)="changeFaculty()">
																				<ng-option *ngFor="let faculty of facultyList" [value]="faculty.name">{{faculty.name}}</ng-option>
																			</ng-select>
																		</div>
																	</div>

																	<div id="bolum_group" role="group" class="col-md-4 col-12 form-group mb-2">
																		<label id="bolum_label" for="bolum_input" class="d-block">Bölüm</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.bolum" placeholder="Bölüm Seçiniz">
																				<ng-option *ngFor="let department of departmentList" [value]="department.name">{{department.name}}</ng-option>
																				</ng-select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-12">
																<div class="row">
																	<div id="ogretim_tipi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="ogretim_tipi_label" for="ogretim_tipi_input" class="d-block">Öğretim Tipi</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.ogretim_tipi" placeholder="Öğretim Tipi Seçiniz">
																				<ng-option *ngFor="let educationType of educationTypeList" [value]="educationType">{{educationType}}</ng-option>
																				</ng-select>
																		</div>
																	</div>

																	<div id="ogretim_dili_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="ogretim_dili_label" for="ogretim_dili_input" class="d-block">Öğretim Dili</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.ogretim_dili" placeholder="Öğretim Dili Seçiniz">
																				<ng-option *ngFor="let educationLanguage of educationLanguageList" [value]="educationLanguage">{{educationLanguage}}</ng-option>
																				</ng-select>
																		</div>
																	</div>

																	<div id="burs_tipi_group" role="group" class="col-md-3 col-12 form-group mb-2">
																		<label id="burs_tipi_label" for="burs_tipi_input" class="d-block">Burs Tipi</label>
																		<div>
																			<ng-select [(ngModel)]="isAddEditCv.egitim_bilgileri.content.burs_tipi" placeholder="Burs Tipi Seçiniz">
																				<ng-option *ngFor="let scholarshipType of scholarshipTypeList" [value]="scholarshipType">{{scholarshipType}}</ng-option>
																				</ng-select>
																		</div>
																	</div>
																</div>
															</div>

															<div id="aciklama_group" role="group" class="col-12 form-group mb-2">
																<label id="aciklama_label" for="aciklama_input" class="d-block">Açıklama</label>
																<div>
																	<textarea class="border-dark form-control" id="aciklama_input" placeholder="Açıklama giriniz.." [(ngModel)]="isAddEditCv.egitim_bilgileri.content.aciklama"></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>   
												
												<div class="row mt-4">
													<div [className]="isAddEditCv.egitim_bilgileri.isEdit == true ? 'col-12 d-flex align-items-center justify-content-between' : 'col-12 d-flex align-items-center justify-content-end'">
														<button type="button" (click)="deleteEducationInfo()" class="btn btn-danger btn-sm" *ngIf="isAddEditCv.egitim_bilgileri.isEdit">
															x Sil 
														</button>

														<div>
															<button type="button" (click)="isAddEditCv.egitim_bilgileri.isShow=false" class="btn btn-outline-danger btn-sm mx-3">
																Vazgeç 
															</button>
															<button type="button" (click)="saveEducationInfo()" class="btn btn-primary btn-sm">
																Kaydet
															</button>
														</div>                                                                    
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-4" id="foreign_language">
					<div class="col-12 bg-white rounded shadow hover-border-dashed">
						<div class="row">
							<div class="col-12 p-2 p-lg-4 shadow-sm mb-4">
								<h3>
									Yabancı Dil
									<button class="btn btn-sm btn-outline-secondary rounded-pill ms-2 pt-0" (click)="newForeignLanguage()">
										<small>
											+ Yeni Ekle
										</small>
									</button>
								</h3>
							</div>
							<div class="col-12 p-2 p-lg-4">
								<div class="row">
									<div class="col-12">
										<div class="row" *ngIf="!isAddEditCv.yabanci_dil.isShow">
											<div class="col-12" *ngIf="yabanci_dil && yabanci_dil.length > 0">
												<div class="row">
													<div class="col-md-10 mx-auto">
														<div class="row">
															<div class="col-6">
																<strong class="text-primary">
																	Dil
																</strong>
															</div>
															<div class="col-6">
																<strong class="text-primary">
																	Seviye
																</strong>
															</div>
														</div>
													</div>
													
												</div>
											</div>
											<div class="col-12 pb-2 mb-2 border-bottom" *ngFor="let dil of yabanci_dil;let index = index">
												<div class="row">
													<div class="col-md-10 mx-auto">
														<div class="row">
															<div class="col-12 d-flex justify-content-end">
																<small (click)="editForeignLanguage(dil,index)" role="button">
																	<fa-icon [icon]="['fas', 'pencil']" class=""></fa-icon>
																</small>
															</div>
															<div class="col-6">
																<span class="font-weight-bold">
																	{{dil.name}}
																</span>
																<br>
																<small>
																	{{dil.seviye == 1 ? 'Başlangıç' : dil.seviye == 2 ? 'Temel' : dil.seviye == 3 ? 'Orta' : dil.seviye == 4 ? 'İyi' : dil.seviye == 5 ? 'İleri' : ''}} <span *ngIf="dil.anaDil">(Anadil)</span>
																</small>
															</div>
															<div class="col-6">
																<ngb-rating id="star-rating-5" [(rate)]="dil.seviye" [readonly]="true" [max]="5"></ngb-rating>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row" *ngIf="isAddEditCv.yabanci_dil.isShow">
											<div class="col-12">
												<div class="row">
													<div id="yabanci_dil_name_group" role="group" class="col-md-4 col-12 form-group mb-2">
														<label id="yabanci_dil_name_label" for="yabanci_dil_name_input" class="d-block">Yabancı Dil</label>
														<div>
															<ng-select [(ngModel)]="isAddEditCv.yabanci_dil.content.name" placeholder="Yabancı Dil Seçiniz">
																<ng-option *ngFor="let foreignLanguage of foreignLanguageList" [value]="foreignLanguage">{{foreignLanguage}}</ng-option>
															</ng-select>
														</div>
													</div>

													<div id="seviye_group" role="group" class="col-md-4 col-12 form-group mb-2">
														<label id="seviye_label" for="seviye_input" class="d-block">Seviye</label>
														<div>
															<ng-select [(ngModel)]="isAddEditCv.yabanci_dil.content.seviye" placeholder="Seviye Seçiniz" (change)="isAddEditCv.yabanci_dil.content.seviye != 5 ? isAddEditCv.yabanci_dil.content.anaDil = false : ''">
																<ng-option *ngFor="let foreignLanguageLevel of foreignLanguageLevelList" [value]="foreignLanguageLevel.value">{{foreignLanguageLevel.name}}</ng-option>
															</ng-select>
														</div>
													</div>

													<div id="anadil_group" role="group" class="col-md-3 col-12 form-group mb-2">
														<div class="form-check mt-4 pt-2">
															<input class="form-check-input" type="checkbox" id="anadil_input" value=true unchecked-value=false [(ngModel)]="isAddEditCv.yabanci_dil.content.anaDil" (change)="isAddEditCv.yabanci_dil.content.seviye=5">
															<label class="form-check-label" for="devam_ediyorum_input">
																Anadil
															</label>
														</div>
													</div>
												</div>  
												
												<div class="row mt-4">
													<div [className]="isAddEditCv.yabanci_dil.isEdit == true ? 'col-12 d-flex align-items-center justify-content-between' : 'col-12 d-flex align-items-center justify-content-end'">
														<button type="button" (click)="deleteForeignLanguage()" class="btn btn-danger btn-sm" *ngIf="isAddEditCv.yabanci_dil.isEdit">
															x Sil 
														</button>

														<div>
															<button type="button" (click)="isAddEditCv.yabanci_dil.isShow=false" class="btn btn-outline-danger btn-sm mx-3">
																Vazgeç 
															</button>
															<button type="button" (click)="saveForeignLanguage()" class="btn btn-primary btn-sm">
																Kaydet
															</button>
														</div>                                                                    
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>